<p class="text-right">
  <%  if  post.liked_users.any? %>
    <%=  post.liked_users.map{ |u| u.display_name }.join(",") %> 点了赞
  <% end %>
  <span id="post-love-<%= post.id %>">
    <% if  current_user  # 有登入才可以点赞 %>
      <% if  post.find_like(current_user) %>
        <label  class="label label-success">已收藏</label>
          <%=  link_to  "",  unlike_post_path(post), :method  =>  :post, :remote => true, class: "fa fa-heart", style: "color: red;" %>
      <% else %>
        <label class="label label-warning">未收藏</label>
          <%=  link_to  "" , like_post_path(post), :method  => :post, :remote  =>  true, class:  "fa fa-heart-o" %>
      <% end %>
    <%  end  %>
  </span>

</p>
